/.settings
**/.settings/
/.classpath
target/
bin/
figs/
csv/
*.csv
*.DS_Store
.DS_Store?
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db
._*
*.internal_xml
*.log
*.log.*
*.eps
*~
/.project
README_compileRun
README_floatcars
int
*_highscore.txt
log
log4j.properties

